.fade-enter {
  /* opacity: 0; */
  max-height: 0;
}

/* .fade-enter.fade-enter-active { */
.fade-enter-active {
  /* opacity: 1; */
  max-height: 100vh;
  transition: height 2s ease-in-out;
}

.fade-exit {
  /* opacity: 1; */
  max-height: 100vh;
}

/* .fade-exit.fade-exit-active { */
.fade-exit-active {
  /* opacity: 0; */
  max-height: 0;
  transition: height 2s ease-in-out;
}
